.page {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.MetaMask{
  position: absolute;
  top: 10px;
  right: 10px;
  width: 100%;
  max-width: 150px;
  margin-top: 10px;
  padding: 10px;
  background-color: #7c1c05;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
.trees-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.tree-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.tree-image {
  width: 100%;
  max-width: 300px;
  height: auto;
  background: none;
}

.get-tree-button {
  width: 100%;
  max-width: 200px;
  margin-top: 40px;
  padding: 10px;
  background-color: #15ff00;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.get-tree-button:hover {
  background-color: #022102;
}

.My-trees-page {
  text-align: center;
}

.tree-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.tree-card {
  width: 300px;
  margin: 10px;
}

.tree-image {
  width: 100%;
  height: auto;
}

.water-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.water-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.water-card {
  text-align: center;
}

.water-image {
  width: 300px;
  height: auto;
}

.water-button {
  width: 200px;
  padding: 10px;
  margin-top: 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.water-button:hover {
  background-color: #02111a;
}

.water-button:focus {
  outline: none;
}

.get-water-button {
  width: 100%;
  max-width: 300px;
  margin-top: 40px;
  padding: 10px;
  background-color: #043171;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
get-water-button:hover {
  background-color: #0051e6;
}

.lottery-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #722503;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.lottery-button:hover {
  background-color: #e50606;
}

.lottery-button:focus {
  outline: none;
}
.button-gap {
  margin-right: 10px; /* Adjust the value as needed */
}
