/* .sidebar {
  background-color: #f1f1f1;
  padding: 10px;
  width: 200px;
  height: 100vh;
  transition: width 0.3s;
}
.sidebar.hidden {
  width: 0;
}

.sidebar button {
  display: block;
  margin-bottom: 10px;
  padding: 8px 16px;
  background-color: #ddd;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.sidebar button:hover {
  background-color: #ccc;
} */
.sidebar {
  background-color: #f1f1f1;
  padding: 10px;
  width: 200px;
  height: 100vh;
  transition: width 0.3s;
}

.sidebar.hidden {
  width: 0;
}

.sidebar button {
  display: block;
  margin-bottom: 10px;
  padding: 8px 16px;
  background-color: #ddd;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.sidebar button:hover {
  background-color: #ccc;
}
